* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .back {
  display: flex;
  align-items: center;
  align-self: flex-start;
  background-color: rgba(143, 50, 205, 0.297);
  padding: 1% 2%;
  border-radius: 100em;
}
.nav img {
  width: 20px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.selected-garment {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(35, 35, 35);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  pointer-events: none;
}

.cloth-carousel-fake {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0%;
  bottom: 4%;
  width: 100vw;
  height: 100px;
}

.cloth-carousel {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0%;
  bottom: 4%;
  width: 100vw;
  overflow-x: auto;
}

.inner-carousel {
  display: inline-flex;
  margin-left: calc(50% - 50px);
  margin-right: calc(50% - 50px);
  gap: 8px;
}

.cloth {
  flex-shrink: 0;
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 50%;
}
.cloth img {
  pointer-events: none;
  height: 60px;  
}

.avatar {
  height: 450px;
  margin: 0 auto;
  background: url(./assets/avatar.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.chest {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  min-height: 200px;
}
.legs {
  display: flex;
  justify-content: center;
}

.filters {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(153, 153, 153, 0.142);
  padding: 6% 2%;
  border-radius: .2em;
}

.filter-icon {
  width: 36px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-icon img {
  pointer-events: none;
  width: inherit;
}

p {
  font-weight: 700;
  margin: 15px 0;
  font-size: .9em;
}

.highlight {
  background-color: rgb(255, 190, 190);
  font-weight: 900;
}

ul {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
}

li {
  margin-top: 5px;
  font-size: .9em;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5%;
  border-radius: .5em;
  border: none;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgb(77, 0, 145);
  color: white
}
